# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Build
dist/
build/

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local Public Uploads (Optional: keep if you want them on GitHub, ignore if you want them local/managed via dashboard)
# public/uploads/*
# public/videos/*
!public/uploads/.gitkeep
!public/videos/.gitkeep
